<ion-header>
  <ion-toolbar>
    <ion-title>
      Report
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <snow-day-calc></snow-day-calc>
  <ion-list>

    <ion-item>
        <ion-select [(ngModel)]="reportType" placeholder="Report Type">
            <ion-select-option value="plow_yes">Road plowed</ion-select-option>
            <ion-select-option value="plow_no">Road not plowed</ion-select-option>
            <ion-select-option value="icy_roads">Icy/slippery roads</ion-select-option>
            <ion-select-option value="snowing_yes">Started snowing</ion-select-option>
            <ion-select-option value="snowing_no">Stopped snowing</ion-select-option>
          </ion-select>
    </ion-item>
    <ion-item>
      <ion-button (click)="sendReport()" [disabled]="!reportType">Report Conditions</ion-button>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="info" placeholder="Add any additional information here"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button (click)="takePicture()">Take a Picture</ion-button>
    </ion-item>
    <ion-item>
      <ion-img [src]="image" [hidden]="!image"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
