<ion-header>
  <ion-toolbar>
    <ion-title>{{type}} {{relativeTime}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="button button-clear ion-activatable ion-focusable hydrated">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [hidden]="img.length === 0">
    <ion-label>Image</ion-label>
    <ion-img [src]="img"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label>More info</ion-label>
    <ion-text text-left>{{info}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>How recent?</ion-label>
    <ion-text text-right>{{formattedTime}}</ion-text>
  </ion-item>
</ion-content>