<ion-header>
  <ion-toolbar>
    <ion-title>{{type}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="button button-clear ion-activatable ion-focusable hydrated">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-img [src]="img" [hidden]="img.length === 0"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label text-left>{{info}}</ion-label>
    <ion-label text-right>{{formattedTime}}</ion-label>
  </ion-item>
</ion-content>